.header .container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 33px;
}

.link {
  color: rgb(131, 136, 143);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-transform: uppercase;
}

.select {
  border: none;
  border: 1px solid red;
  background: none;
  padding: 3px;
  border-radius: 5px;
}